@font-face {
    font-family: "raleway";
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
body{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    height: 100vh;
    font-family: "raleway";
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    grid-column: 1/-1;
}


#logo {
    border-bottom: none;
    color: black;
    font-weight: 800;
    font-size: 32px;
}

a{
    color: black;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 30px;
}

#left{
    border-right: 1px solid grey;
}

#right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vinyl-cover {
    height: 500px;
    width: 500px;
    margin-left: 200px;
}


#right div{
    height: 500px;
    width: 500px;
    background-color: black;

}

form{
    background-color: white;
    margin-right: 100px;
    margin-left: 100px;
    width: 700px;
}

fieldset{
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

input{
    border: 1px solid gray;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
}

label{
    display: flex;
    align-items: center;
}

p{
    font-size: 14px;
    margin-top: 15px;
}

.full{
    grid-column: 1/-1;
}

hr{
    height: 2px;
    background-color: black;
}

#checkout-vinyl{
    display: flex;
    height: 100px;
}

#right-side{
    height: 100vh;
    width: auto;
    background: black;
}

#checkout-vinyl div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: gray;
}


#checkout-vinyl p {
    position: relative;
    align-self: center;
}

h4{
    margin-left: 20px;

}

span{
    font-size: 10px;
}

#total-cost{
    height: 100px;
    width: auto;
}

.binding{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button{
    cursor: pointer;
    font-family: "raleway";
    height: 40px;
    width: 100px;
    font-weight: 800;
    background-color: white;
    color: black;
    border: 1px solid black;
}

button:hover{
    background-color: black;
    color: white;
}

#user-agreement{
    cursor: pointer;
    text-decoration: underline 1px solid;
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.underline-animation::after,
.underline-animation2::after,
.underline-animation-catalogue-h3::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transition: transform 0.25s ease-out;
    margin-bottom: -5px;
}

.underline-animation:hover::after, 
.underline-animation2:hover::after,
.underline-animation-catalogue-h3:hover::after {
    transform: scaleX(1);
    transform-origin: center;
} 

.underline-animation2,
.underline-animation-catalogue-h3 {
    display: inline-block;
    position: relative;
    color: black;
}

.underline-animation::after{
    background-color: white;
}

.underline-animation2::after,
.underline-animation-catalogue-h3::after {
    background-color: black;
}

@media (max-width: 500px){
    form{
        transform: scale(0.55);
    }
}