body{
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

p{
    font-size: 14px;
    margin-top: 15px;
}

@media (max-width: 1600px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 50px;
    }
}

@media (max-width:899px){
    body{
        grid-template-rows: 50px 100px 1fr 50px;
    }
}

@media (max-width: 540px){
    body{ 
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 380px){
    body{
        grid-template-rows: 50px 50px 1fr 50px;
    }
}