@font-face {
    font-family: "raleway";
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

body{
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    font-family: "raleway";
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    grid-column: 1/-1;
}


#logo {
    border-bottom: none;
    color: black;
    font-weight: 800;
    font-size: 32px;
}

a{
    color: black;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 30px;
}

#left{
    border-right: 1px solid grey;
    padding-left: 100px;
    padding-right: 100px;
}

#right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vinyl-cover {
    height: 500px;
    width: 500px;
    margin-left: 200px;
}


#right div{
    height: 500px;
    width: 500px;
    background-color: black;

}

form{
    background-color: white;
    width: 700px;
    height: 750px;
}

fieldset{
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

input{
    border: 1px solid gray;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
}

label{
    display: flex;
    align-items: center;
}

p{
    font-size: 14px;
    margin-top: 15px;
}

.full{
    grid-column: 1/-1;
}

hr{
    height: 2px;
    background-color: black;
}

#checkout-vinyl{
    display: flex;
    height: 100px;
}

#right-side{
    height: 100vh;
    width: auto;
    background: black;
}

#checkout-vinyl div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: gray;
}

body > nav{
    background-color: white;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

#checkout-vinyl p {
    position: relative;
    align-self: center;
}

h4{
    margin-left: 20px;

}

span{
    font-size: 10px;
}

#total-cost{
    height: 100px;
    width: auto;
}

.binding{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



button{
    cursor: pointer;
    font-family: "raleway";
    height: 40px;
    width: 100px;
    font-weight: 800;
    background-color: white;
    color: black;
    border: 1px solid black;
}

button:hover{
    background-color: black;
    color: white;
}

#user-agreement{
    cursor: pointer;
    text-decoration: underline 1px solid;
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.underline-animation::after,
.underline-animation2::after,
.underline-animation-catalogue-h3::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transition: transform 0.25s ease-out;
    margin-bottom: -5px;
}

.underline-animation:hover::after, 
.underline-animation2:hover::after,
.underline-animation-catalogue-h3:hover::after {
    transform: scaleX(1);
    transform-origin: center;
} 

.underline-animation2,
.underline-animation-catalogue-h3 {
    display: inline-block;
    position: relative;
    color: black;
}

.underline-animation::after{
    background-color: white;
}

.underline-animation2::after,
.underline-animation-catalogue-h3::after {
    background-color: black;
}

@media (max-width: 1600px){

    #left{
        border-right: none;
    }

    #right { 
        justify-content: start;
        align-items: start;
        padding-left: 100px;
        padding-right: 100px;
    }

    .vinyl-cover, #right div{
        height: 350px;
        width: 350px;
    }

    .vinyl-cover {
        margin-left: 140px;
      }

    body{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 50px;
    }
}

@media (max-width: 900px){

    #left{
        border-right: none;
    }

    #right, #left, header { 

        padding-left: 50px;
        padding-right: 50px;
    }
    form{
        width: auto;
    }

    header > nav{
        display: none;

    }
}
@media (max-width: 540px){

    input{
        height: 32px;
    }
    #right, #left, header, body nav{ 
        padding-left: 5%;
        padding-right: 5%;
    }
    p{
        font-size: 10px;
    }

    form{
        height: 680px;
    }

    .vinyl-cover, #right div{
        height: 245px;
        width: 245px;
    }

    .vinyl-cover {
        margin-left: 98px;
      }

      #logo {
        font-size: 25px;
      }
      .underline-animation2, .underline-animation-catalogue-h3 {
        display: inline-block;
        position: relative;
        color: black;
        font-size: 10px;
      }

}


@media (max-width: 400px){
    fieldset > input{
        width: 100%;
    }

    .vinyl-cover, #right div{
        height: 172px;
        width: 172px;
    }

    .vinyl-cover {
        margin-left: 67px;
      }
}


  @media (min-width:900px){
    
    body > nav{
        display: none;
    }
}

@media (max-width:899px){
    body{
        grid-template-rows: 50px 100px 1fr 50px;
    }
}

@media (max-width: 380px){
    body{
        grid-template-rows: 50px 50px 1fr 50px;
    }
    
    body > nav, header {
        justify-content: center;
    }

    #left{
        padding-top: 20px;
    }

}