@font-face {
    font-family: "raleway";
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "raleway";
}

header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;
}

nav {
    display: flex;
    gap: 20px;
}

#background {
    background-image: url("bilder/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-rows: 100px auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh auto 700px auto 100px;
    height: auto;
}

#main-text {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    align-items: center;
    justify-content: right;
}

#current{
    text-decoration: underline solid 1px black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 90px;
    padding: 0;
    margin-top: 0;
}

#logo {
    border-bottom: none;
    color: white;
    font-size: 32px;
}

#main-text button {
    background-color: white;
    cursor: pointer;
    font-family: "raleway";
    font-size: 30px;
    height: 75px;
    width: 335px;
    border-radius: 0;
    border: none;
    font-weight: 700;
    justify-self: center;
    transition: 0.5s;
    border-radius: 50px;
}

#main-text button:hover {
    width: 450px;
    transition: 0.5s;
}

h3 {
    position: relative;
    font-family: "raleway";
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.underline-animation a{
    color: white;
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.underline-animation::after,
.underline-animation2::after,
.underline-animation-catalogue-h3::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transition: transform 0.25s ease-out;
    margin-bottom: -5px;
}

.underline-animation:hover::after, 
.underline-animation2:hover::after,
.underline-animation-catalogue-h3:hover::after {
    transform: scaleX(1);
    transform-origin: center;
} 

.underline-animation2,
.underline-animation-catalogue-h3 {
    display: inline-block;
    position: relative;
    color: black;
}

.underline-animation::after{
    background-color: white;
}

.underline-animation2::after,
.underline-animation-catalogue-h3::after {
    background-color: black;
}

.whats-popular {
    padding: 50px 100px 50px 100px;
    display: grid;
    grid-column: 1fr;
}

.all-vinyls {
    padding: 50px;
    display: grid;
    grid-column: 1fr;
    grid-template-rows: 50px 400px;
    width: auto;
    height: 800px;
}

.whats-popular > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whats-popular > div > div {
    display: flex;
    align-items: center;
}

.whats-popular > div div p {
    cursor: pointer;
    margin-right: 10px;
}

.whats-popular > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whats-popular > div > div {
    display: flex;
    align-items: center;
}

.whats-popular > div div p {
    cursor: pointer;
    margin-right: 10px;
}

h2 {
    font-weight: 800;
    font-size: 35px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

section {
    gap: 50px;
    position: relative;
}

.vinyl-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.vinyl-row > section div:nth-child(1) {
    z-index: 2;
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-size: contain;
}
.vinyl-row div:hover .vinyl-cover {
    transition: 1s;
    margin-left: 150px;
    transform: rotate(45deg);
}

.vinyl-row2 {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.vinyl-row2 > section div:nth-child(1) {
    z-index: 2;
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-size: contain;
}
.vinyl-row2 div:hover .vinyl-cover {
    transition: 1s;
    margin-left: 150px;
    transform: rotate(45deg);
}
.vinyl-cover {
    z-index: -1;
    position: relative;
    height: 200px;
    width: 200px;
    margin-left: 70px;
    transform: rotate(-45deg);
    transition: 1s;
}


#promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bilder/Megadeth_Promotion.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#promotion div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

#promotion div:nth-child(2) {
    background-image: url(bilder/Megadeth-FKP-web-900x600.png);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    font-weight: 300;
    font-size: 30px;
    font-family: "megadeth";
    margin-top: -320px;
    text-align: center;
    color: white;
}

#promotion div:nth-child(1) h3 {
    margin-top: -300px;
    font-size: 38px;
    color: #FFB800;
    font-family: "megadeth";
    text-align: center;
}

h5, h6 {
    margin: 0;
}

h5 {
    font-size: 20px;
    margin-top: 10px;
}

.test {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
}

.test h5 {
    margin-top: 0;
}

section button{
    font-family: "raleway";
    font-weight: 700;
    cursor: pointer;
    font-size: 10px;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    transition: 0.3s;
}

section button:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
}

footer {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto min-content;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: black;
}

footer div {
    align-items: center;
    display: flex;
    height: 100%;
}

footer div:nth-child(2) {
    justify-content: end;
  }

footer p {
    font-size: 10px;
    font-weight: 700;
    color: white;
}

footer h2 {
    padding-bottom: 0px;
    margin: 0;
}

footer div:nth-child(3) > img {
    height: 110px;
}

ul {
    margin-top: 0px;
    padding: 0;
    text-align: center;
}

li {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    list-style-type: none;
}

li:hover{
    text-decoration: underline 1px solid white;
}

.list-path {
    margin-top: 10px;
}

.list-category {
    text-decoration: underline;
    font-size: 22px;
}

a{
    color: black;
    text-decoration: none;
}

header a {
    color: white;
}

.catalogue-h3 {
    color: black;
}

#catalogue{
    justify-content: center;
    display: flex;
    height: auto;
    width: auto;
}

#catalogue h1{
    font-size: 80px;
    color: white;
    text-align: center;
}

#catalogue-header{
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    display: flex;
    align-items: center;
}

#catalogue-hero{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px auto 100px;
}


#bread{
    display: flex;
    align-items: center;
}

#bread h5{
    margin-left: 50px;
    font-size: 15px;
    
}

#catalogue-background{
    height: 100px;
    background-color: black;
}

#vinyl-nav{
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 1fr 100px;
}

#page-nav{
    padding-left: 50px;
    display: flex;
    grid-column: 2/-1;
}

 nav > button{
    cursor: pointer;
    border: none;
    font-family: "raleway";
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
}

#vinyl-nav > div:nth-child(1){
    position: sticky;
    top: 0;
    height: min-content;
    grid-row: 1/-1;
}


#vinyl-nav > div > ul {
    text-align: start;
}

#vinyl-nav > div > ul > li {
    margin-top: 10px;
    display: block;
}

#background nav:nth-child(1), #catalogue-hero nav:nth-child(1){
    background-color: white;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
#catalogue-hero nav:nth-child(1){
    background-color: black;
}


footer p{
    margin-top: 0;
}



@media (max-width: 1800px) {
    .vinyl-row{ 
        grid-template-columns: repeat(4, 1fr); 
    }
  }

  @media (max-width: 1600px) {
    .vinyl-row{ 
        grid-template-columns: repeat(3, 1fr); 
    }
  }

  @media (max-width: 1100px) {
    .vinyl-row{ 
        grid-template-columns: repeat(2, 1fr); 
    }
  }

  @media (max-width: 1000px) {

    #hero {
        grid-template-rows:80vh auto 400px auto 100px;
    }
    #main-text h1{
        font-size: 70px;

    }
  }

@media (max-width: 1750px) {
    .vinyl-row2{ 
        grid-template-columns: repeat(3, 1fr); 
    }
  }

  @media (max-width: 1400px) {

    #main-text button {
        height: 55px;
        width: 275px;
      }


      #main-text button:hover {
        width: 300px;
      }


    #main-text h1{
        font-size: 50px;
    }

    .vinyl-row2{ 
        grid-template-columns: repeat(2, 1fr); 
    }

    h2{
        font-size: 30px;
    }

  }

  
  
  @media (min-width:950px){
    
    #background nav:nth-child(1),  #catalogue-hero nav:nth-child(1){
        display: none;
    }
}
@media (max-width: 949px){

    #catalogue-hero {
        grid-template-rows: 50px 50px 100px 1fr 100px;
      }
      #catalogue-header{
        background: none;
        background-color: white;
      }

      #catalogue-header #logo{
        color: black;
      }
    .whats-popular{
        padding: 50px 50px 50px 50px;
    }

    header{
        padding-left: 50px;
        padding-right: 50px;
    }

    header a{
        display: none;
    }

    #main-text{
        padding-left: 50px;
        padding-right: 50px;
      }
      #main-text button{
        justify-self: start;
      }

      #main-text h1{
        text-align: left;
    }
    #background {
        grid-template-rows: 50px 100px auto;
    }

    #vinyl-nav > div:nth-child(1) {
        display: none;
      }
      #vinyl-nav {
          padding-left: 0px;
          padding-right: 0px;
          display: grid;
          grid-template-columns: 1fr;
        }
        #page-nav {
            grid-column: 1/-1;
          }
}


@media (max-width: 800px){  
    
    .vinyl-row{
        grid-template-columns: 1fr;
    }

    .whats-popular {
        padding: 50px 50px 50px 50px;
        display: grid;
        grid-column: 1fr;
    }

    .vinyl-row{
        margin-top: 0px;
    }
      .whats-popular > div > div {
        display: none;
      }

      h5{
        font-size: 15px;
      }

      h6{
        font-size: 10px;
      }
    
      .whats-popular > div:nth-child(1) {
        justify-content: center;
      }

      section{
        justify-self: center;
      }

      footer{
        padding-left: 50px;
        padding-right: 50px;
      }

      footer h2 {
        font-size: 21px;
      }

      li{
        font-size: 10px;
      }
    }
    
    @media (max-width:575px){

        .vinyl-row2 {
            grid-template-columns: 1fr;
          }

        #bread h5{
            font-size: 11px;
        }
        
        #main-text button:hover{
            width: 210px;
          }
        section button {
            width: 70px;
            height: 21px;
            font-size: 7px;
          }
        .test {
            width: 200px;
            height: 50px;
          }

        .vinyl-row > section div:nth-child(1),.vinyl-row2 > section div:nth-child(1), .vinyl-cover {
            height: 140px;
            width: 140px;
          }

        .vinyl-row {
            grid-template-columns: 1fr;
          }
    
        h2{
            font-size: 21px;
        }
    
        h5{
        font-size: 13px;
        }
    
        h6{
        font-size: 8px;
        }
        #main-text h1{
            font-size: 35px;

        }

        #main-text button{
            height: 39px;
            width: 193px;
            font-size: 21px;
          }

        #logo{
            font-size: 25px;
        }

        #background nav:nth-child(1) h3,  #catalogue-hero nav:nth-child(1) h3{
            margin-left: -20px;
            width: max-content;
            padding: 0;
            margin: 0;
            font-size: 10px;

        }
    }

@media (max-width: 380px){

    #bread{
        justify-content: center;
      }

    #bread h5{
        margin-left: 0px;
    }

    #background{
        grid-template-rows: 50px 50px auto;
      }

    .vinyl-row2{
        padding-left: 0px;
    }


    #background nav:nth-child(1), #catalogue-hero nav:nth-child(1){
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
      }

    header{
        height: 50px;
        background: none;
        background-color: white;
        padding-left: 0;
        padding-right: 0;
       justify-content: center;
    }

    header h2{
        width: max-content;
    }

    #logo{
        color: black;
    }
    header nav{
        display: none;
    }

    #main-text{
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }

    #main-text h1{
        text-align: center;
    }

    #main-text button{
        justify-self: center;
    }

    #main-text button:hover{
        width: 250px;
    }

    h2{
        font-size: 22px;
    }

    footer h2{
        font-size: 15px;
    }

    li{
        font-size: 6px;
    }
    .vinyl-row div:hover .vinyl-cover, .vinyl-row2 div:hover .vinyl-cover {
        margin-left: 105px;
    }

}
    
#img1 {
    background-image: url(bilder/Metallica_-_Metallica_cover.jpg);
}
#img2 {
    background-image: url(bilder/Jimi_Hendrix_-_Electric_Ladyland.jpg);
}
#img3 {
    background-image: url(bilder/RedHotChiliPeppersCalifornication.jpg);
}
#img4 {
    background-image: url(bilder/Blackout_Scorpions_album_-_cover_art.png);
}
#img5 {
    background-image: url(bilder/Police-album-synchronicity.jpg);
}
#img6 {
    background-image: url(bilder/Pantera_The_Great_Southern_Trendkill.jpg);
}
#img7 {
    background-image: url(bilder/Beatles_-_Abbey_Road.jpg);
}
#img8 {
    background-image: url(bilder/The_Dark_Side_of_the_Moon_Cover.png);
}
#img9 {
    background-image: url(bilder/Green_Day_-_Dookie_cover.jpg);
}
#img10 {
    background-image: url(bilder/Dream_Theater_-_Images_and_Words.jpg);
}
#img11 {
    background-image: url(bilder/Megadeth-RustInPeace.jpg);
}
#img12 {
    background-image: url(bilder/Megadeth_-_Peace_Sells..._But_Whos_Buying-.jpg)
}
#img13 {
    background-image: url(bilder/AnarchyInTheUk.jpg)
}
#img13 {
    background-image: url(bilder/Countdown_To_Extinction.jpg)
}
#img14 {
    background-image: url(bilder/Megadeth_-_The_World_Needs_a_Hero.jpg)
}
#img15 {
    background-image: url(bilder/MegadethDystopia.png)
}
#img16 {
    background-image: url(bilder/Megadeth_KIMB.jpg)
}
#img17 {
    background-image: url(bilder/Megadeth-Youthanasia.jpg)
}
#img18 {
    background-image: url(bilder/Megadeth_SickDyingDead.png)
}
#img19 {
    background-image: url(bilder/Megadeath-Cryptic_Writings.jpg)
}
#img20 {
    background-image: url(bilder/Megadeth_-_The_System_Has_Failed.jpg)
}